@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Enginner</h4>

@using (Html.BeginForm())
{
  @Html.TextBoxFor(model => model.FirstName, new { @class="form-control", @required="required"})
  <br>
  @Html.TextBoxFor(model => model.LastName, new { @class="form-control", @required="required"})
  <br>
  @Html.LabelFor(model => model.HireDate)
  @Html.TextBoxFor(model => model.HireDate, new {@class="form-control", @type="date", @required="required"})
  <br>
  @Html.Label("Select Machine")
  @Html.DropDownList("MachineId")
  <br>
  <input type="submit" value="Add new Engineer" class="btn btn-primary" />
}

<p>@Html.ActionLink("Show all Engineers", "Index")</p>